<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.piri.probodia">
    <!-- 인터넷 연결 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 카메라 권한 설정 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Probodia">
        <activity
            android:name=".view.activity.ChallengeRecordInfoActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.ChallengeParticipateActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.ChallengeInfoActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.ShowDoctorActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.PersonalInformationActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.JoinLastInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.JoinBaseInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.IntroActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao${KAKAO_NATIVE_APP_KEY_MANIFEST}" />
            </intent-filter>
        </activity>
    </application>

</manifest>